/.internal_context
.env
__pycache__/
/*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/
build/
dist/
*.egg-info/
*.egg
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.ipynb_checkpoints/
.DS_Store
*.sqlite3
*.log